In [1]:
import pandas as pd

In [2]:
# loading the dataset
df = pd.read_csv('data/literacy_rates_data.csv')
df.head()

,index,Region,Country,Year,Age,Gender,Literacy rate
0,0,Central and Southern Asia,Afghanistan,2011,15+,female,0.176121
1,1,Central and Southern Asia,Afghanistan,2011,15+,male,0.454171
2,2,Central and Southern Asia,Afghanistan,2011,15+,total,0.317411
3,3,Central and Southern Asia,Afghanistan,2011,15-24,female,0.321132
4,4,Central and Southern Asia,Afghanistan,2011,15-24,male,0.618791

1. Accessing columns

In [7]:
# getting all column header values
df.columns

Index(['index', 'Region', 'Country', 'Year', 'Age', 'Gender', 'Literacy rate'], dtype='object')

In [14]:
# selecting specific columns
print(type(df['Gender']))
print("-"*40)
print(df['Gender'].head())
print("-"*40)
print(df.Gender.head())

<class 'pandas.core.series.Series'>
----------------------------------------
0    female
1      male
2     total
3    female
4      male
Name: Gender, dtype: object
----------------------------------------
0    female
1      male
2     total
3    female
4      male
Name: Gender, dtype: object

In [9]:
# selecting multiple columns
df[['Country', 'Year']].head()

       Country  Year
0  Afghanistan  2011
1  Afghanistan  2011
2  Afghanistan  2011
3  Afghanistan  2011
4  Afghanistan  2011

2. Accessing rows

In [16]:
#  single index
df.iloc[0]

index                                    0
Region           Central and Southern Asia
Country                        Afghanistan
Year                                  2011
Age                                    15+
Gender                              female
Literacy rate                     0.176121
Name: 0, dtype: object

In [18]:
# multiple index
df.iloc[[0, 1, 2, 3]]

,index,Region,Country,Year,Age,Gender,Literacy rate
0,0,Central and Southern Asia,Afghanistan,2011,15+,female,0.176121
1,1,Central and Southern Asia,Afghanistan,2011,15+,male,0.454171
2,2,Central and Southern Asia,Afghanistan,2011,15+,total,0.317411
3,3,Central and Southern Asia,Afghanistan,2011,15-24,female,0.321132

In [19]:
# slicing index
df.iloc[0:4]

,index,Region,Country,Year,Age,Gender,Literacy rate
0,0,Central and Southern Asia,Afghanistan,2011,15+,female,0.176121
1,1,Central and Southern Asia,Afghanistan,2011,15+,male,0.454171
2,2,Central and Southern Asia,Afghanistan,2011,15+,total,0.317411
3,3,Central and Southern Asia,Afghanistan,2011,15-24,female,0.321132

In [22]:
# accessing rows and specific columns
print(df.iloc[0:4, 1])
print("-"*40)
print(df.iloc[[0, 1, 2, 3], 1])

0    Central and Southern Asia
1    Central and Southern Asia
2    Central and Southern Asia
3    Central and Southern Asia
Name: Region, dtype: object
----------------------------------------
0    Central and Southern Asia
1    Central and Southern Asia
2    Central and Southern Asia
3    Central and Southern Asia
Name: Region, dtype: object

In [25]:
# accessing rows and specific columns by values
df.loc[0:4, ['Region', 'Country']]

                      Region      Country
0  Central and Southern Asia  Afghanistan
1  Central and Southern Asia  Afghanistan
2  Central and Southern Asia  Afghanistan
3  Central and Southern Asia  Afghanistan
4  Central and Southern Asia  Afghanistan

3. Counting the unique values

In [26]:
df['Region'].value_counts()

Latin America and the Caribbean     1410
Sub-Saharan Africa                  1155
Northern Africa and Western Asia     852
Europe and Northern America          504
Central and Southern Asia            467
Eastern and South-Eastern Asia       423
Oceania                              144
Name: Region, dtype: int64

In [28]:
# accessing rows and slicing columns by values
df.loc[0:4, 'Region': 'Literacy rate']

                      Region      Country  Year    Age  Gender  Literacy rate
0  Central and Southern Asia  Afghanistan  2011    15+  female       0.176121
1  Central and Southern Asia  Afghanistan  2011    15+    male       0.454171
2  Central and Southern Asia  Afghanistan  2011    15+   total       0.317411
3  Central and Southern Asia  Afghanistan  2011  15-24  female       0.321132
4  Central and Southern Asia  Afghanistan  2011  15-24    male       0.618791