In [1]:
import pandas as pd

In [14]:
# loading the dataset
df = pd.read_csv('data/literacy_rates_data.csv')
df.head()

,index,Region,Country,Year,Age,Gender,Literacy rate
0,0,Central and Southern Asia,Afghanistan,2011,15+,female,0.176121
1,1,Central and Southern Asia,Afghanistan,2011,15+,male,0.454171
2,2,Central and Southern Asia,Afghanistan,2011,15+,total,0.317411
3,3,Central and Southern Asia,Afghanistan,2011,15-24,female,0.321132
4,4,Central and Southern Asia,Afghanistan,2011,15-24,male,0.618791

In [15]:
# setting index to different values
df.set_index('Literacy rate', inplace=True)
df.head()

,index,Region,Country,Year,Age,Gender
Literacy rate,,,,,,
0.176121,0,Central and Southern Asia,Afghanistan,2011,15+,female
0.454171,1,Central and Southern Asia,Afghanistan,2011,15+,male
0.317411,2,Central and Southern Asia,Afghanistan,2011,15+,total
0.321132,3,Central and Southern Asia,Afghanistan,2011,15-24,female
0.618791,4,Central and Southern Asia,Afghanistan,2011,15-24,male

In [16]:
#  resetting the index
df.reset_index(inplace=True)
df.head()

,Literacy rate,index,Region,Country,Year,Age,Gender
0,0.176121,0,Central and Southern Asia,Afghanistan,2011,15+,female
1,0.454171,1,Central and Southern Asia,Afghanistan,2011,15+,male
2,0.317411,2,Central and Southern Asia,Afghanistan,2011,15+,total
3,0.321132,3,Central and Southern Asia,Afghanistan,2011,15-24,female
4,0.618791,4,Central and Southern Asia,Afghanistan,2011,15-24,male

In [19]:
#  sorting index
df.sort_index(ascending=False)

,Literacy rate,index,Region,Country,Year,Age,Gender
4954,0.811269,4954,Sub-Saharan Africa,Zimbabwe,2014,65+,total
4953,0.927231,4953,Sub-Saharan Africa,Zimbabwe,2014,65+,male
4952,0.734258,4952,Sub-Saharan Africa,Zimbabwe,2014,65+,female
4951,0.887874,4951,Sub-Saharan Africa,Zimbabwe,2014,25-64,total
4950,0.897255,4950,Sub-Saharan Africa,Zimbabwe,2014,25-64,male
...,...,...,...,...,...,...,...
4,0.618791,4,Central and Southern Asia,Afghanistan,2011,15-24,male
3,0.321132,3,Central and Southern Asia,Afghanistan,2011,15-24,female
2,0.317411,2,Central and Southern Asia,Afghanistan,2011,15+,total
1,0.454171,1,Central and Southern Asia,Afghanistan,2011,15+,male
0,0.176121,0,Central and Southern Asia,Afghanistan,2011,15+,female